$color-dragzone: #eb71a0;

.dropzone {
  box-sizing: border-box;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  background: rgba($color-dragzone, 0.2);
  border: 11px dashed $color-dragzone;
}

.logo {
  margin-left: 2em; // Aligns goose feet with title text
  max-width: 40%;
}

.title {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bolder;
}

#copy {
  margin-right: 0.5em;
  cursor: pointer;
}

@import "chart.scss";
@import "custom-file-button.scss";

$container-max-widths: (
  sm: 540px,
  md: 600px,
  lg: 640px,
  xl: 680px
);

$primary: #eb71a0;
$secondary: #73D2DE;
$success: #285943;
$info: #e5e5e5;
$warning: #773344;
$danger: #f22775;
$light: #eeeeee;
$dark: #23395B;
$warning: #f5ee81;

$spinner-height: 1em;
$spinner-width: 1em;
$spinner-animation-speed: 1s;

@import "~bootstrap/scss/bootstrap";

.alert-success {
  a {
    color: $success;
  }
}

#reset {
  svg {
    width: 2em;
    height: 2em;
  }

  color: lightgray;
}

#reset:hover {
  color: darkgray;
}

#statistics {
  .progress {
    height: 2em;
  }

  .progress-bar {
    font-weight: 600;
  }

  table {
    margin-bottom: 0;

    th {
      padding-left: 0;
      font-weight: 500;
    }

    tr > *:not(:first-child) {
      text-align: right;
    }
  
    th, td {
      width: 25%;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    tr:last-child {
      th, td {
        border: 0;
      }
    }
  }
}
