body > div.container {
	margin-top: 3em;
	margin-bottom: 3em;
}

.header {
	text-align: center;
}

.logo {
	margin-left: 2em;
}

.logo {
	width: 50px;
}

.title {
	margin-top: 1em;
}

.subtitle {
	margin-bottom: 2em;
}


.progress {
	margin-top: 1.5em;
	margin-bottom: 2em;
	height: 1em;
}

.logo {
	width: 400px;
}

.title {
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: bolder;
}

.mirror{
	display: inline-block; 

	-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
	-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
	-o-transform: matrix(-1, 0, 0, 1, 0, 0);
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

@import "~bootstrap/scss/bootstrap";
